button {
  color: #222;
  text-decoration: none;
  font-weight: bold;
  padding: 1em 2em;
  background: #fff;
  border-radius: 0.4em;
  transition: 0.2s;
  font-size: 1rem;
  border: none;
  margin-bottom: 1.5em;
  cursor: pointer;
}

button:hover {
  color: #fff;
  background: #222;
}

@media only screen and (max-width: 840px) {
  button {
    width: 100%;
    padding: 1em 0;
  }
}